
@import 'colors.scss'; 

/* Variables */
$style-height: 535px;


body {
    background-color: $color-yellow;
}

/*header*/
header{
    ul {
        list-style-type: none;
        color: $color-white;

        li {
            display: inline;
            a {
                text-decoration: none;
                color: $color-white;
            }
        }
        li:nth-child(4){
            a {
                text-decoration: none;
                color: $color-white;
                float:right;
                margin-right: 50px;
            }
        }
    }
}
// Mixin or Extend for button
@mixin btn(){
    background-color: $color-yellow;
    color: $color-white;
    border: none;
}

/* Nest Main */
main {
    width: 1350px;
    min-height:$style-height;
    background-color: $color-white;
    padding: 1rem;
    text-align: center;

    section#intro-text{
        float:left;
        background-color: $color-lightgrey;
        text-align: center;
        height: 365px;
        padding-top: 170px;

        span{
            font-family: $font-sacramento;
        }
        h3{
            font-size: medium;
        }
        p{
            padding-left:10px;
            padding-right:10px;
        }
        button {
            @include btn(); 
            padding: 10px;
        }
    }
    section#intro-image{
        float:right;
        
        img{
            width: 880px;
            height: $style-height;
        }
    }
    
}

footer{
    margin: 20px 0 0 20px;
    
}