$backgroundColor1: rgb(218, 170, 14);
$backgroundColor2: rgb(127, 236, 55);
$mainColor: rgb(255, 255, 255);
$sectionColor: rgb(212, 213, 216);

$color1: rgb(170, 240, 113);
$color2: rgb(58, 107, 212);
$color3: rgb(49, 49, 48);
$color4: rgb(255, 255, 255);