doctype html
html
  head
    title= `${title}`
    link(rel='Stylesheet', href='css/bootstrap.min.css')
    //- link(rel='stylesheet', href='css/styles.css')
    link(rel='StyleSheet' href='css/styles.css' type='text/css')
    link(rel='StyleSheet' href='css/nav.css' type='text/css')

  body
    div.container.listing-reg
      //- h1 My Amazing App

      block content