extends layout

block content
    head
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='StyleSheet' href='css/styles.css' type='text/css')
        link(rel='StyleSheet' href='css/form.css' type='text/css')

        meta(charset='utf-8')
    body
        if registrations.length
            table.listing-table.table-dark.table-striped
                tr
                    th Name
                    th Email
                    th Username
                    th Password
                each registration in registrations
                    tr
                        td= registration.name
                        td= registration.email
                        td= registration.username
                        //- td= registration.password
                        if registration.password != " "
                            td *****

                        
        else
            p No registrations yet :(