@import "colors.scss";
/* Nest Nav */
nav{
    ul{
        li{
            display: inline;
            a:link, a:visited{
                color: $color3;
                text-decoration: none;
            }
            a:hover, a:active{
                color: $color6;
                text-decoration: underline;
            }
        }
    }
}