/* Variables */
/* Nest Main */
main {
  width: 1350px;
  min-height: 535px; }

body {
  background-color: #daaa0e; }

/* Nest Main */
main {
  width: 1350px;
  min-height: 535px;
  background-color: white;
  display: flex;
  padding: 30px; }
  main #intro-text {
    background-color: #d4d5d8;
    flex: 30%;
    text-align: center;
    padding: 100px; }
    main #intro-text span {
      font-family: "Sacramento", cursive;
      font-size: 2em; }
    main #intro-text h3 {
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 30px;
      word-wrap: break-word; }
    main #intro-text p {
      font-family: Arial, Helvetica, Sans-Serif;
      word-wrap: break-word; }
    main #intro-text .submit-button {
      background-color: #daaa0e;
      text-decoration-color: white;
      padding: 10px 20px;
      border: 3px none #daaa0e;
      font-family: Arial, Helvetica, Sans-Serif;
      font-size: 15px; }
      main #intro-text .submit-button:hover {
        background: #b48c0c;
        transition: all 0.3s ease; }
      main #intro-text .submit-button:active {
        background: #624d06; }
  main #intro-image {
    flex: 70%; }
    main #intro-image img {
      width: 865px;
      height: 539px; }

footer {
  padding: 20px 0 0 50px; }
