@import "colors.scss";
/* Variables */
$font1: Arial, Helvetica, Sans-Serif;
$font2: 'Sacramento', cursive;

/* Nest Main */
main {
    width: 1350px;
    min-height:535px;
}
// Mixin or Extend for button
@mixin button-bg() {
    background-color:$color1;
    text-decoration-color: $color3;
    padding: 10px 20px;
    border: 3px none $color1;
    font-family: $font1;
    font-size: 15px;
    &:hover {
        background:darken($color1,8%);
        transition: all 0.3s ease;
    }
    &:active {
        background:darken($color1,25%);
    } 
}

body{
    background-color: $color1;
}

/* Nest Main */
main {
    width: 1350px;
    min-height:535px;
    background-color: $color3;
    display: flex;
    padding: 30px;
    #intro-text{
        background-color: $color4;
        flex: 30%;
        text-align: center;
        padding: 100px;
        span{
            font-family: $font2;
            font-size: 2em;
        }
        h3{
            font-family: $font1;
            font-size: 30px;
            word-wrap: break-word;
        }
        p{
            font-family: $font1;
            word-wrap: break-word;
        }
        .submit-button{
            @include button-bg();
            
        }
    }
    #intro-image{
        flex: 70%;
        img{
            width: 865px;
            height: 539px;
        }
    }
}

footer{
    padding: 20px 0 0 50px;
}
