@import url(https://fonts.googleapis.com/css?family=Bitter:400,400italic,700);

//Colors:
/*---------
rgb(255,255,255)
rgb(0,0,0)
rgba(0,0,0,0.5)
rgba(0,0,0,0.24)
rgb(22, 34, 42)
rgb(58, 96, 115)


//Fonts:
Bitter
FontAwesome

----------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter";
}

$max-width: 80em;